# /bin 폴더 안의 모든 파일(*)을 무시
/bin/*

# 단(!), .gitkeep 파일은 무시하지 않음
!/bin/.gitkeep
*.exe
*.out
*.o
target/
.DS_Store

# Ignore all .out files
*.out

# But keep data .out files
!**/data/*.out

# Ignore all playground files
/playground/*

# But keep run.sh
!/playground/run.sh
